<mat-toolbar class="bg-white py-4 w-100">
  <div class="mx-auto">
    <div class="d-flex flex-row">
      <img [src]="headerImgLink" class="toolbar-image" />
      <!-- <span class="toolbar-spacer"></span> -->
      <div class="toolbar-options-account">
        <button mat-icon-button class="btn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="btn">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-toolbar-row class="toolbar-options">
    <span class="toolbar-spacer"></span>
    <a href="#" class="toolbar-options-item px-4">Sleepwear</a>
    <a href="#" class="toolbar-options-item px-4">Summer</a>
    <a href="#" class="toolbar-options-item px-4">Underwear & Hoisery</a>
    <a href="#" class="toolbar-options-item px-4">Clearance</a>
    <a href="#" class="toolbar-options-item">About Us</a>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
